@blue:#4682f2;
@black: #000;
.margenes (@top, @bottom,@left, @right) {
    margin-top: @top;
    margin-bottom: @bottom;
    margin-left: @left;
    margin-right: @right;
}
.padding (@top, @bottom,@left, @right) {
    padding-top: @top;
    padding-bottom: @bottom;
    padding-left: @left;
    padding-right: @right;
}
.jumbotron{
    background-color:@blue;
    color: @black;
.margenes(50px,0,0,0 );
}

footer{
    background-color:@blue;
    .padding(0,0, 10px,10px)
}
footer a{
    color: @black;
}
.boton button{
    width: 100%;
    border-radius: 0 0 4px 4px;
    margin: 0;
}
.card-hotel{
padding: 0;
.margenes(20px,20px,auto,auto )

}
.footer-icon,.icon-reservar{
 .padding(0, 0, 0, 10px)
}
.card-img-top{
    height: 130px;
    margin: 0;
    padding: 0;
}
.img-fluid{
    width: 100%;
    height: 400px;
.margenes(0,20px,0,0 );

}
.tab-content{
.padding(5px, 5px, 0, 0)
}
.text-center {
   
    color: white;
}
.w-100 {
    height: 400px;
}
@media only screen and (max-width: 768px) { 
    .w-100 {
        height: 300px;
        }   
}