.jumbotron {
  background-color: #f3d10d;
  color: black;
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0; }

footer {
  background-color: #f3d10d;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px; }

footer a {
  color: black; }

.boton button {
  width: 100%;
  border-radius: 0 0 4px 4px;
  margin: 0; }

.card-hotel {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto; }

.footer-icon, .icon-reservar {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 10px; }

.card-img-top {
  height: 130px;
  margin: 0;
  padding: 0; }

.img-fluid {
  width: 100%;
  height: 400px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0; }

.tab-content {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0; }

.text-center {
  color: white; }

.w-100 {
  height: 400px; }

@media only screen and (max-width: 768px) {
  .w-100 {
    height: 300px; } }
