$blue:#f3d10d;

@mixin margenes ($top, $bottom,$left, $right) {
    margin-top: $top;
    margin-bottom: $bottom;
    margin-left: $left;
    margin-right: $right;
}
@mixin padding ($top, $bottom,$left, $right) {
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: $left;
    padding-right: $right;
}
.jumbotron{
    background-color:$blue;
    color: black;
   @include margenes(50px,0,0,0 );
}

footer{
    background-color:$blue;
    @include padding(0,0, 10px,10px)
}
footer a{
    color: black;
}
.boton button{
    width: 100%;
    border-radius: 0 0 4px 4px;
    margin: 0;
}
.card-hotel{
padding: 0;
@include margenes(20px,20px,auto,auto )

}
.footer-icon,.icon-reservar{
 @include padding(0, 0, 0, 10px)
}
.card-img-top{
    height: 130px;
    margin: 0;
    padding: 0;
}
.img-fluid{
    width: 100%;
    height: 400px;
@include margenes(0,20px,0,0 );

}
.tab-content{
    @include padding(5px, 5px, 0, 0)
}
.text-center {
   
    color: white;
}
.w-100 {
    height: 400px;
}
@media only screen and (max-width: 768px) { 
    .w-100 {
        height: 300px;
        }   
}